html {
  background-color: deepskyblue;
}

#body {
  padding-top: 70px;
}
#timer {
  font-size: 150px;
  text-align: center;
}

#start {
  font-size: 50px;
  color: white;
}

#pause {
  font-size: 15px;
  color: white;
}

#reset {
  font-size: 70px
  color: white;
}

#header {
  text-align: center;
  margin-right: 90px;
  margin-bottom: 30px;
}
